<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @entry.text %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @entry.due_date %>
</p>

<p>
  <strong>Done:</strong>
  <%= @entry.done %>
</p>

<p>
  <strong>Category:</strong>
  <%= @entry.category %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
